<html>
<head>
	<title>Tumblr Wordcloud Generator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Tumblr Wordcloud Generator</h1>

	{% if tag and tag != '' %}
	<p>generated for {{blog}} with tag #{{tag}}</p>
	{% else %}
	<p>generated for {{blog}}</p>
	{% endif %}
	<p>Author <a href="https://dirtyfilthy.tumblr.com/">dirtyfilthy.tumblr.com</a></p>
	<p>
		<img src="/static/generated/{{image}}" />
	</p>
	<p>Right click and select "save as" or "save image" to save</p>
</body>